                    <ul>
                        <li>
                            <a href="{%site-url%}">
                            {{site-title}}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            Sample Link
                            </a>
                        </li>
                    </ul>
